.narrow-input {
    width: 50%;
    
  }
  .container {
    padding-top: 30px;
  }
  .form-group {
    padding-top: 40px;
  }
  .btn-send{
    padding-top: 5%;
    padding-right: 8%;
    padding-bottom: 5%;
    padding-left: 8%;
}
  .qestionText{
    font-size: 30px;
  }
  .custom-switch{
    width: 30%;
  }
  .answer{
    margin: 0px;
  }
  .custom-control-label{
    margin: 10px;
  }